*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
}


.hero *,
.hero
{
    /* border: .2rem dashed blue; */
}

.hero
{
    z-index: 1;
    background: url(../img/aesthetic.gif);
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5.5rem;

    &::before
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4); /* black overlay with 50% opacity */
        z-index: 1;
    }

    .title
    {
        text-align: center;
        color: white;
        letter-spacing: .1rem;
        z-index: 2;

        h1
        {
            font-size: 4rem;
            text-shadow: .2rem .5rem 1rem black;
        }
    }

    .name
    {
        text-align: center;
        font-size: .6rem;
        color: white;
        letter-spacing: .1rem;
        text-shadow: .3rem .4rem 1rem black;
        z-index: 2;
    }

    .container
    {
        padding: .5rem .9rem;
    }

    .btn
    {
        position: relative;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border: 0.1rem solid white;
        padding: 0.8rem 1.6rem;
        border-radius: 0.5rem;
        letter-spacing: 0.1rem;
        z-index: 1;
        transition: all 0.5s ease;
        box-shadow: 0 0 25px #fff;

        &::before
        {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: rgb(255, 255, 255);
            z-index: -1;
            border-radius: .4rem;
            transition: width 0.4s ease;
        }

        &:hover::before
        {
            width: 100%;
        }

        &:hover
        {
            color: black;
        }

        &:active
        {
            box-shadow: 0 0 60px #fff;
        }

        &::after
        {
            border-radius: .4rem;
        }
    }
}